<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <title>{% block title %}Untitled{% endblock %} | Phone Directory</title>
   <!-- Le styles -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/vigilancia_prj.css' %}" rel="stylesheet">

    <!-- Use this to quickly test CSS changes in a template,
        then move to vigilancia_prj.css -->
    {% block extra_css %}{% endblock extra_css %}
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Personas</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'people_list' %}">Index</a></li>
            <li class="active"><a href="{% url 'category_list' %}">Categories</a></li>
            
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {% if user.username %}
                      {{ user.get_full_name|default:"User" }}
                    {% else %}
                       Sesión de usuarios
                    {% endif %}  
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                   {% if user.username %}
                      
                      <li>
                        <a href="#"><i class="icon-off"></i> Mi perfil de usuario</a>
                      </li>  
                      </li>
                      <li class="divider"></li>
                      <li>
                        <a tabindex="-1" href="/accounts/logout"><i class="icon-off"></i> Cerrar sesión</a>
                      </li>  
                      
                    {% else %}
                       <li>
                        <a tabindex="-1" href="/accounts/login/"><i class="icon-eye-open"></i> Iniciar sesión</a>
                        </li>
                    {% endif %}
                </ul>
              </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
        {% block content %}
        The end user should never ever see this!
        {% endblock %}
    </div>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- place project specific Javascript in this file -->
    <script src="{% static 'js/vigilancia_prj.js' %}"></script>

    {% block extra_js %}{% endblock extra_js %}


</body>
</html>