{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}{{object_name}} Form{% endblock %}

{% block content %}
<h3>{% if object %}Updating {{object}}{% else %}Add a new {{object_name}}{% endif %}</h3>
<form action="" method="post">{% csrf_token %}
<table>
{{form|bootstrap}}
</table>
<input type="submit" value="Save {{object_name}}"/></form>
{% endblock %}