{% extends 'base.html' %}

{% block title %}{{object_name}} List{% endblock %}

{% block content %}
 

    <table class="table table-striped">
    <thead><tr><th>Name</th><th>Action</th></tr></thead>
    <tbody>
      {% for object in object_list %}
      <tr><td><a href="{{object.get_absolute_url}}">{{object}}</a></td><td><a href="{{object.get_update_url}}">Update</a> | <a href="{{object.get_delete_url}}">Delete</a></td></tr>
      {% endfor %}
    </tbody>
    </table>

    <br><br>
    <a href="{% url 'person_add' %}" class="btn btn-primary">Add person</a>

{% endblock %}